version: '3.8'
services:
  db:
    image: postgis/postgis:14-3.4
    container_name: aqar-db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: aqar
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
